################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/src/Bookstore.Common.Infrastructure/obj/Debug
/src/Bookstore.Common.Infrastructure/bin/Debug
/src/Bookstore.Common.Models/bin/Debug
/src/Bookstore.Common.Models/obj/Debug
/src/Bookstore.DataAccess/bin/Debug
/src/Bookstore.Web.API/bin
/src/Bookstore.DataAccess/obj/Debug
/src/Bookstore.Web.API/obj/Debug
/tests/Bookstore.Web.API.Tests/bin/Debug
/tests/Bookstore.Web.API.Tests/obj/Debug
/src/Bookstore.Services/bin/Debug
/src/Bookstore.Services/obj/Debug
/src/Bookstore.Web.API/obj/Release
/src/Bookstore.DataAccess/obj/Release
/src/Bookstore.Services/obj/Release
/src/Bookstore.Services/bin/Release
/src/Bookstore.Web.API/Properties/PublishProfiles
/src/Bookstore.DataAccess/bin/Release/Bookstore.Common.Infrastructure.dll
/src/Bookstore.Common.Models/obj/Release
/src/Bookstore.DataAccess/bin/Release
/src/Bookstore.Common.Models/bin/Release
/src/Bookstore.Common.Infrastructure/obj/Release
/src/Bookstore.Common.Infrastructure/bin/Release
/tests/Bookstore.Web.API.Tests/obj/Release
/src/Bookstore.Services/bin
/src/Bookstore.Clients.ConsoleApp/obj/Debug
/src/Bookstore.Clients.ConsoleApp/bin/Debug
