<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userId="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package userId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package userId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package userId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package userId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package userId="Microsoft.CodeDom.ProvuserIders.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package userId="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package userId="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package userId="SimpleInjector" version="3.2.5" targetFramework="net461" />
  <package userId="SimpleInjector.Extensions.ExecutionContextScoping" version="3.2.5" targetFramework="net461" />
  <package userId="SimpleInjector.Integration.WebApi" version="3.2.5" targetFramework="net461" />
</packages>