@model Bookstore.Clients.WebApp.Models.BooksViewModel
@{
	ViewBag.Title = "Books";
}
<h2>@ViewBag.Title.</h2>

<div id="status">
	<p></p>
</div>

<h4>All books in Bookstore:</h4>
<div>
	<ul>
		@{
			foreach (var book in Model.Books)
			{
				var uri = "";
				<li id="@book.Id"><em>@book.Title </em> <span class="btn-link" onclick="download('@uri')">(show details)</span></li>
			}
		}
	</ul>

	<h4>CORS section:</h4>
	<ul>
		<li id="0"><em>Get book - no port</em> <span class="btn-link" onclick="download('http://localhost/api/books/2222/details')">(show details)</span></li>
		<li id="0"><em>Get book - port 1000</em> <span class="btn-link" onclick="download('http://localhost:1000/api/books/2222/details')">(show details)</span></li>
		<li id="0"><em>Get book - port 56432</em> <span class="btn-link" onclick="download('http://localhost:56432/api/books/2222/details')">(show details)</span></li>
	</ul>
</div>
<br/>
<hr/>

<h4>Information about selected book:</h4>
<div id="details" class="hidden">
	<p id="title"></p>
	<p id="author"></p>
	<p id="pages"></p>
	<p id="description"></p>
	<p id="amount"></p>
	<p id="isbn"></p>
	<p id="isavailable"></p>
	<p id="price"></p>
	<p id="isindiscount"></p>
	<p id="discount"></p>
	<p id="image">
		<input type="hidden"/>
		<span class="btn-link">Show Image</span>
		<img src=""/>
	</p>
</div>